<div class="container" ng-controller='expManagementController'>
	<p style="height: 50%">
	<h4>Author Information</h4>
	</p>
	<hr />

	<div class="col-lg-10">
		<div class="panel panel-primary">
			<div class="panel-heading">Chandu & Anil</div>
			<div class="panel-body">
				<p>Anil and I (Chandra) manage this project. We are developing
					this tool to track our monthly room expenses.</p>
				<p>We are using the below technologies to develop this
					applicaiton.</p>
				<ul>
					<li>Spring Boot</li>
					<li>Spring MVC</li>
					<li>Spring REST</li>
					<li>JPA (Hibernate implemnetation)</li>
					<li>AngularJS</li>
					<li>Bootstrap</li>
					<li>SB-ADMIN-2</li>
					<li>Angular Js</li>
					<li>BootStrap CSS</li>
					<li>Java Script</li>
				</ul>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</div>

